build/*
bin/*
doc/html/*
temp/*
*.o
*.out
*.swp
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
/gtirb
/datalog_disasm/
/include/gsl/*
/.vscode/
.mypy_cache/
__pycache__/
.pytest_cache/
